@{
  ViewData["Title"] = "Home Page";
}

<h1>Panel General</h1>
 

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">PACIENTES</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <a href="@Url.Action("Index", "Pacientes")"><i class="fa-solid fa-user fa-4x"></i></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">MEDICOS</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <a href="@Url.Action("Index", "Profesionales")"><i class="fa-solid fa-user-doctor fa-4x"></i></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">ESTUDIOS</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <a href="@Url.Action("Index", "Estudios")"><i class="fa-regular fa-address-book fa-4x"></i></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">OBRAS SOCIALES</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <a href="@Url.Action("Index", "ObrasSociales")"><i class="fa-solid fa-notes-medical fa-4x"></i></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">LOCALIDADES</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <a href="@Url.Action("Index", "Localidades")"><i class="fa-solid fa-city fa-4x"></i></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">ESTADISTICAS</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <a href="@Url.Action("Index", "Estadisticas")"><i class="fa-solid fa-chart-simple fa-4x"></i></a>
        </ul>
      </div>
    </div>
  </div>
</div>





@section Scripts {
  <script src="~/js/localidades-1.0.0.js"></script>

  
}